.Landing {
  display: flex;
  flex-direction: column;
  background-color: #fdf1e6;
}

.TopLanding {
  height: 90vh;
  background-image: linear-gradient(to bottom, rgba(150, 120, 100, 0.7), rgba(150, 120, 100, 0.8)),
    url("../images/ungorotablesetting-lorenzo-minaca.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.TopLanding h1 {
  font-size: 4rem;
  color: white;
  text-shadow: 3px 5px 2px #0000004d;
}

.TopLanding p {
  font-size: 1.25rem;
  color: white;
  text-shadow: 0 2px 2px #0000004d;
}

.WelcomeText {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ChevronDown {
  -webkit-filter: drop-shadow(3px 5px 2px #0000004d);
  filter: drop-shadow(3px 4px 2px #0000004d);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

section h1 {
  font-size: 4rem;
}

section p {
  font-size: 1.5rem;
  padding: 1rem 5rem 0;
}

.AboutSection {
  display: flex;
  flex-direction: row;
}

.AuthorsSection {
  display: flex;
  flex-direction: row;
  height: 200px;
  margin-bottom: 100px;
}

.CardBack {
  padding-right: 5rem;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
}