table {
    border-color: rgb(87, 48, 1);
    border-width: 1px;
    border-style: solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    border-collapse: separate;
}

td {
    border-color: rgb(87, 48, 1);
    border-width: 3px;
    border-style: solid;
}

tr {
    text-align: center;
}

body {
    text-align: center;
    background-color: bisque;
}

.battle-card-attack {
    color: red;
}

.battle-card-health {
    color: green;
}

.battle-card-winner {
    color: darkgoldenrod;
}