.user-header {
    padding-top: 20px;
}

table {
    border-color: rgb(114, 64, 2);
    border-width: 2px;
    border-style: solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    border-collapse: separate;
}

td {
    border-color: rgb(87, 48, 1);
    border-width: 4px;
    border-style: solid;
}

tr {
    text-align: center;
}

body {
    text-align: center;
    background-color: #fdf1e6;
}

.battle-card-attack {
    color: red;
}

.battle-card-health {
    color: green;
}

.battle-card-winner {
    color: darkgoldenrod;
}

.load-button {
    background: brown;
    border: brown;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    height: 40px;
    width: 130px;
    margin-left: 20px;
}

.dd-input-boxes {
    border: 1px;
    border-radius: 8px;
    border-style: solid;
    width: 150px;
    font-size: 20px;
    height: 30px;
    border-color: lightgrey;
    margin-left: 10px;
}