* {
  background: bisque;
  color: black;
}

.App {
  text-align: center;
  background-color: bisque;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

#c1 {
  background: none;
}

.result {
  font-family: Garamond;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  text-transform: none;
}

.winner-result {
  display: inline;
  color: darkblue;
  font-family: Garamond;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 10px;
  border-style: outset;
  border-color: brown;
  }