* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Navbar {
    height: 10vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: bisque;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.75);
}

.NavTabs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavLinks {
    list-style: none;
    display: flex;
}

.NavLinks a {
    font-weight: 500;
    color: #10162e;
    text-decoration: none;
}

.NavLinks li {
    padding: 0px 20px;
}

.NavLinks li a {
    transition: color 0.3s ease 0s;
}

.NavLinks li a:hover {
    color: #2b17de;
}

ul.NavLinks {
    margin-bottom: 0;
    padding-left: 0;
}

.Logo:hover {
    background-color: unset !important;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header a {
    float: left;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
    margin: 0 15px;
}

.header a:hover {
    background-color: rgb(233, 206, 184);
}

.header a.active {
    background-color: #79552b;
    color: white;
}

.header-right {
    float: center;
    padding-top: 8px;
}

.logout-button,
.login-button {
    /*background: rgb(7, 208, 235);
    border: solid 1px rgb(7, 208, 235);
    border-radius: 12px;
    color: white;
    width: 70px;
    height: 40px;
    cursor: pointer;
    float: center;*/

    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color: #2dabf9;
    border-radius: 2rem;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 15px;
    text-decoration: none;
}

.logout-button:hover,
.login-button:hover {
    background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    background-color: #0688fa;
}

.logout-button:active,
.login-button:active {
    position: relative;
    top: 1px;
}